.mission-text {
max-width: 600px;
width: 100%;
margin: 20px auto 20px 0;
line-height: 1.6;
text-align: left;
color: azure;
}

body{
    background-color: black;
    background-image: url('mission.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}


